body {
    background-color: #eee;
}
p {
    display:;
    /*aunque <p> por defecto es tipo bloque tambien puede ser modificada a tipo inline*/
}
span{


}
#invisible{
    display: none;
}

