body{
    background-color: #eee;
}
p{
    width: 350px;
    /*max-width: establece el ancho maximo pero no el anocho como tal;
    realmente es el equivalente a solo usar width: con %;*/
    background-color: #f00;
    margin: auto;
    /*para poder este valor el elemento debe tener propiedad y valor display:block;*/
    position: relative;
    /*
    *position: static;por defecto todos los elementos traen es valor en esta propiedad,
    *position: relative; esto hace referencia a mover el elemento con respecto a si mismo 
    asi es que admite tambien los valores bottom, top, left, right.
    *position: -webkit-sticky;position: sticky; esto genera la superposicion del elemento,
    es necesario especificar valores de posicion.
    *position: fixed; estte valor deja el elemento pegado en una posicion aunque 
    se genere scroll. Muy util para generar menus desplegables.

    */
}
